 <h1>Carrito: {{cart._id}}</h1>
 
 {{#each cartProducts}}    
          <p>Producto: {{product.title}} - Precio: ${{product.price}} - Categoria: {{product.category}} - Cantidad: {{quantity}}</p>      
 {{/each}}

 